In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv('Surveydata_train_(2).csv')
df.head()

,ID,Overall_Experience,Seat_Comfort,Seat_Class,Arrival_Time_Convenient,Catering,Platform_Location,Onboard_Wifi_Service,Onboard_Entertainment,Online_Support,Ease_of_Online_Booking,Onboard_Service,Legroom,Baggage_Handling,CheckIn_Service,Cleanliness,Online_Boarding
0,98800001,0,Needs Improvement,Green Car,Excellent,Excellent,Very Convenient,Good,Needs Improvement,Acceptable,Needs Improvement,Needs Improvement,Acceptable,Needs Improvement,Good,Needs Improvement,Poor
1,98800002,0,Poor,Ordinary,Excellent,Poor,Needs Improvement,Good,Poor,Good,Good,Excellent,Needs Improvement,Poor,Needs Improvement,Good,Good
2,98800003,1,Needs Improvement,Green Car,Needs Improvement,Needs Improvement,Needs Improvement,Needs Improvement,Good,Excellent,Excellent,Excellent,Excellent,Excellent,Good,Excellent,Excellent
3,98800004,0,Acceptable,Ordinary,Needs Improvement,NaN,Needs Improvement,Acceptable,Needs Improvement,Acceptable,Acceptable,Acceptable,Acceptable,Acceptable,Good,Acceptable,Acceptable
4,98800005,1,Acceptable,Ordinary,Acceptable,Acceptable,Manageable,Needs Improvement,Good,Excellent,Good,Good,Good,Good,Good,Good,Good

In [3]:
info = pd.read_csv('Traveldata_train_(2).csv')
info.head()

,ID,Gender,Customer_Type,Age,Type_Travel,Travel_Class,Travel_Distance,Departure_Delay_in_Mins,Arrival_Delay_in_Mins
0,98800001,Female,Loyal Customer,52.0,NaN,Business,272,0.0,5.0
1,98800002,Male,Loyal Customer,48.0,Personal Travel,Eco,2200,9.0,0.0
2,98800003,Female,Loyal Customer,43.0,Business Travel,Business,1061,77.0,119.0
3,98800004,Female,Loyal Customer,44.0,Business Travel,Business,780,13.0,18.0
4,98800005,Female,Loyal Customer,50.0,Business Travel,Business,1981,0.0,0.0

In [4]:
final_traindf =  pd.concat([info,df],axis=1)
final_traindf.head()

,ID,Gender,Customer_Type,Age,Type_Travel,Travel_Class,Travel_Distance,Departure_Delay_in_Mins,Arrival_Delay_in_Mins,ID,...,Onboard_Wifi_Service,Onboard_Entertainment,Online_Support,Ease_of_Online_Booking,Onboard_Service,Legroom,Baggage_Handling,CheckIn_Service,Cleanliness,Online_Boarding
0,98800001,Female,Loyal Customer,52.0,NaN,Business,272,0.0,5.0,98800001,...,Good,Needs Improvement,Acceptable,Needs Improvement,Needs Improvement,Acceptable,Needs Improvement,Good,Needs Improvement,Poor
1,98800002,Male,Loyal Customer,48.0,Personal Travel,Eco,2200,9.0,0.0,98800002,...,Good,Poor,Good,Good,Excellent,Needs Improvement,Poor,Needs Improvement,Good,Good
2,98800003,Female,Loyal Customer,43.0,Business Travel,Business,1061,77.0,119.0,98800003,...,Needs Improvement,Good,Excellent,Excellent,Excellent,Excellent,Excellent,Good,Excellent,Excellent
3,98800004,Female,Loyal Customer,44.0,Business Travel,Business,780,13.0,18.0,98800004,...,Acceptable,Needs Improvement,Acceptable,Acceptable,Acceptable,Acceptable,Acceptable,Good,Acceptable,Acceptable
4,98800005,Female,Loyal Customer,50.0,Business Travel,Business,1981,0.0,0.0,98800005,...,Needs Improvement,Good,Excellent,Good,Good,Good,Good,Good,Good,Good

In [5]:
final_traindf.info()

<class 'pandas.DataFrame'>
RangeIndex: 94379 entries, 0 to 94378
Data columns (total 26 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID                       94379 non-null  int64
 1   Gender                   94302 non-null  str
 2   Customer_Type            85428 non-null  str
 3   Age                      94346 non-null  float64
 4   Type_Travel              85153 non-null  str
 5   Travel_Class             94379 non-null  str
 6   Travel_Distance          94379 non-null  int64
 7   Departure_Delay_in_Mins  94322 non-null  float64
 8   Arrival_Delay_in_Mins    94022 non-null  float64
 9   ID                       94379 non-null  int64
 10  Overall_Experience       94379 non-null  int64
 11  Seat_Comfort             94318 non-null  str
 12  Seat_Class               94379 non-null  str
 13  Arrival_Time_Convenient  85449 non-null  str
 14  Catering                 85638 non-null  str
 15  Platform_Location        94349 non-null  str
 16  Onboard_Wifi_Service     94349 non-null  str
 17  Onboard_Entertainment    94361 non-null  str
 18  Online_Support           94288 non-null  str
 19  Ease_of_Online_Booking   94306 non-null  str
 20  Onboard_Service          86778 non-null  str
 21  Legroom                  94289 non-null  str
 22  Baggage_Handling         94237 non-null  str
 23  CheckIn_Service          94302 non-null  str
 24  Cleanliness              94373 non-null  str
 25  Online_Boarding          94373 non-null  str
dtypes: float64(3), int64(4), str(19)
memory usage: 18.7 MB

In [6]:
final_traindf.info()

<class 'pandas.DataFrame'>
RangeIndex: 94379 entries, 0 to 94378
Data columns (total 26 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID                       94379 non-null  int64
 1   Gender                   94302 non-null  str
 2   Customer_Type            85428 non-null  str
 3   Age                      94346 non-null  float64
 4   Type_Travel              85153 non-null  str
 5   Travel_Class             94379 non-null  str
 6   Travel_Distance          94379 non-null  int64
 7   Departure_Delay_in_Mins  94322 non-null  float64
 8   Arrival_Delay_in_Mins    94022 non-null  float64
 9   ID                       94379 non-null  int64
 10  Overall_Experience       94379 non-null  int64
 11  Seat_Comfort             94318 non-null  str
 12  Seat_Class               94379 non-null  str
 13  Arrival_Time_Convenient  85449 non-null  str
 14  Catering                 85638 non-null  str
 15  Platform_Location        94349 non-null  str
 16  Onboard_Wifi_Service     94349 non-null  str
 17  Onboard_Entertainment    94361 non-null  str
 18  Online_Support           94288 non-null  str
 19  Ease_of_Online_Booking   94306 non-null  str
 20  Onboard_Service          86778 non-null  str
 21  Legroom                  94289 non-null  str
 22  Baggage_Handling         94237 non-null  str
 23  CheckIn_Service          94302 non-null  str
 24  Cleanliness              94373 non-null  str
 25  Online_Boarding          94373 non-null  str
dtypes: float64(3), int64(4), str(19)
memory usage: 18.7 MB

In [7]:
(final_traindf.isna().sum().sort_values(ascending=False)/len(final_traindf))*100

Type_Travel                9.775480
Customer_Type              9.484101
Arrival_Time_Convenient    9.461851
Catering                   9.261594
Onboard_Service            8.053698
Arrival_Delay_in_Mins      0.378262
Baggage_Handling           0.150457
Online_Support             0.096420
Legroom                    0.095360
Gender                     0.081586
CheckIn_Service            0.081586
Ease_of_Online_Booking     0.077348
Seat_Comfort               0.064633
Departure_Delay_in_Mins    0.060395
Age                        0.034965
Platform_Location          0.031787
Onboard_Wifi_Service       0.031787
Onboard_Entertainment      0.019072
Cleanliness                0.006357
Online_Boarding            0.006357
Travel_Class               0.000000
ID                         0.000000
ID                         0.000000
Travel_Distance            0.000000
Overall_Experience         0.000000
Seat_Class                 0.000000
dtype: float64

In [18]:
from sklearn.impute import KNNImputer

imputer = KNNImputer(n_neighbors=5,weights='distance')

In [9]:
cat_cols = final_traindf.select_dtypes('object')
cat_cols.head()

/tmp/ipykernel_39080/3153213137.py:1: Pandas4Warning: For backward compatibility, 'str' dtypes are included by select_dtypes when 'object' dtype is specified. This behavior is deprecated and will be removed in a future version. Explicitly pass 'str' to `include` to select them, or to `exclude` to remove them and silence this warning.
See https://pandas.pydata.org/docs/user_guide/migration-3-strings.html#string-migration-select-dtypes for details on how to write code that works with pandas 2 and 3.
  cat_cols = final_traindf.select_dtypes('object')

,Gender,Customer_Type,Type_Travel,Travel_Class,Seat_Comfort,Seat_Class,Arrival_Time_Convenient,Catering,Platform_Location,Onboard_Wifi_Service,Onboard_Entertainment,Online_Support,Ease_of_Online_Booking,Onboard_Service,Legroom,Baggage_Handling,CheckIn_Service,Cleanliness,Online_Boarding
0,Female,Loyal Customer,NaN,Business,Needs Improvement,Green Car,Excellent,Excellent,Very Convenient,Good,Needs Improvement,Acceptable,Needs Improvement,Needs Improvement,Acceptable,Needs Improvement,Good,Needs Improvement,Poor
1,Male,Loyal Customer,Personal Travel,Eco,Poor,Ordinary,Excellent,Poor,Needs Improvement,Good,Poor,Good,Good,Excellent,Needs Improvement,Poor,Needs Improvement,Good,Good
2,Female,Loyal Customer,Business Travel,Business,Needs Improvement,Green Car,Needs Improvement,Needs Improvement,Needs Improvement,Needs Improvement,Good,Excellent,Excellent,Excellent,Excellent,Excellent,Good,Excellent,Excellent
3,Female,Loyal Customer,Business Travel,Business,Acceptable,Ordinary,Needs Improvement,NaN,Needs Improvement,Acceptable,Needs Improvement,Acceptable,Acceptable,Acceptable,Acceptable,Acceptable,Good,Acceptable,Acceptable
4,Female,Loyal Customer,Business Travel,Business,Acceptable,Ordinary,Acceptable,Acceptable,Manageable,Needs Improvement,Good,Excellent,Good,Good,Good,Good,Good,Good,Good

In [11]:
cat_cols.Customer_Type.unique()

<StringArray>
['Loyal Customer', 'Disloyal Customer', nan]
Length: 3, dtype: str

All the categorical columns other than gender are ordinal. 
They have a heirarchy of order to them meaning that we have to use ordinal/label encoding

In [15]:
from sklearn.preprocessing import OrdinalEncoder

enc = OrdinalEncoder()
enc_cols = enc.fit_transform(cat_cols)
enc_cols = pd.DataFrame(data=enc_cols,columns=enc.get_feature_names_out(cat_cols.columns.tolist()))
enc_cols.head()

,Gender,Customer_Type,Type_Travel,Travel_Class,Seat_Comfort,Seat_Class,Arrival_Time_Convenient,Catering,Platform_Location,Onboard_Wifi_Service,Onboard_Entertainment,Online_Support,Ease_of_Online_Booking,Onboard_Service,Legroom,Baggage_Handling,CheckIn_Service,Cleanliness,Online_Boarding
0,0.0,1.0,NaN,0.0,4.0,0.0,1.0,1.0,4.0,3.0,4.0,0.0,4.0,4.0,0.0,3.0,3.0,4.0,5.0
1,1.0,1.0,1.0,1.0,5.0,1.0,1.0,5.0,3.0,3.0,5.0,3.0,3.0,1.0,4.0,4.0,4.0,3.0,3.0
2,0.0,1.0,0.0,0.0,4.0,0.0,4.0,4.0,3.0,4.0,3.0,1.0,1.0,1.0,1.0,1.0,3.0,1.0,1.0
3,0.0,1.0,0.0,0.0,0.0,1.0,4.0,NaN,3.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0
4,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,2.0,4.0,3.0,1.0,3.0,3.0,3.0,2.0,3.0,3.0,3.0

In [16]:
enc_cols.isna().any().sort_values(ascending=False)

Gender                      True
Onboard_Entertainment       True
Cleanliness                 True
CheckIn_Service             True
Baggage_Handling            True
Legroom                     True
Onboard_Service             True
Ease_of_Online_Booking      True
Online_Support              True
Onboard_Wifi_Service        True
Customer_Type               True
Platform_Location           True
Catering                    True
Arrival_Time_Convenient     True
Seat_Comfort                True
Type_Travel                 True
Online_Boarding             True
Seat_Class                 False
Travel_Class               False
dtype: bool

Perfect I expect there to still be nan valies. I will now use the knn imputer to impute the missing values

In [19]:
enc_cols_imputed = imputer.fit_transform(enc_cols)
enc_cols_imputed.shape
#
df_cat_imputed = pd.DataFrame(data=enc_cols_imputed,columns=enc_cols.columns.tolist())
df_cat_imputed.isna().sum().sort_values(ascending=False).head()

Gender           0
Customer_Type    0
Type_Travel      0
Travel_Class     0
Seat_Comfort     0
dtype: int64

In [20]:
df_cat_imputed.isna().any()

Gender                     False
Customer_Type              False
Type_Travel                False
Travel_Class               False
Seat_Comfort               False
Seat_Class                 False
Arrival_Time_Convenient    False
Catering                   False
Platform_Location          False
Onboard_Wifi_Service       False
Onboard_Entertainment      False
Online_Support             False
Ease_of_Online_Booking     False
Onboard_Service            False
Legroom                    False
Baggage_Handling           False
CheckIn_Service            False
Cleanliness                False
Online_Boarding            False
dtype: bool

In [23]:
num_cols  = final_traindf.select_dtypes('number').drop('ID',axis=1)
num_cols.info()

<class 'pandas.DataFrame'>
RangeIndex: 94379 entries, 0 to 94378
Data columns (total 5 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Age                      94346 non-null  float64
 1   Travel_Distance          94379 non-null  int64
 2   Departure_Delay_in_Mins  94322 non-null  float64
 3   Arrival_Delay_in_Mins    94022 non-null  float64
 4   Overall_Experience       94379 non-null  int64
dtypes: float64(3), int64(2)
memory usage: 3.6 MB

In [24]:
num_cols.isna().any()

Age                         True
Travel_Distance            False
Departure_Delay_in_Mins     True
Arrival_Delay_in_Mins       True
Overall_Experience         False
dtype: bool

We will begin my minmaxscaling the numerical cols then we will use knnimputer to impute the values.

In [25]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
num_scaled = scaler.fit_transform(num_cols)
num_scaled_df = pd.DataFrame(data=num_scaled,columns=scaler.get_feature_names_out(num_cols.columns.tolist()))
num_scaled_df.head()

,Age,Travel_Distance,Departure_Delay_in_Mins,Arrival_Delay_in_Mins,Overall_Experience
0,0.576923,0.032169,0.000000,0.003157,0.0
1,0.525641,0.311549,0.005653,0.000000,0.0
2,0.461538,0.146501,0.048367,0.075126,1.0
3,0.474359,0.105782,0.008166,0.011364,0.0
4,0.551282,0.279815,0.000000,0.000000,1.0

In [27]:
num_cols_imputed = imputer.fit_transform(num_scaled_df)
num_imputed_df = pd.DataFrame(data=num_cols_imputed,columns=imputer.get_feature_names_out(num_scaled_df.columns.tolist()))
num_imputed_df.head()

,Age,Travel_Distance,Departure_Delay_in_Mins,Arrival_Delay_in_Mins,Overall_Experience
0,0.576923,0.032169,0.000000,0.003157,0.0
1,0.525641,0.311549,0.005653,0.000000,0.0
2,0.461538,0.146501,0.048367,0.075126,1.0
3,0.474359,0.105782,0.008166,0.011364,0.0
4,0.551282,0.279815,0.000000,0.000000,1.0

In [28]:
num_imputed_df.isna().any()

Age                        False
Travel_Distance            False
Departure_Delay_in_Mins    False
Arrival_Delay_in_Mins      False
Overall_Experience         False
dtype: bool