In [25]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split

In [26]:
df = pd.read_csv('Surveydata_train_(2).csv')
df.head()

         ID  Overall_Experience  ...        Cleanliness Online_Boarding
0  98800001                   0  ...  Needs Improvement            Poor
1  98800002                   0  ...               Good            Good
2  98800003                   1  ...          Excellent       Excellent
3  98800004                   0  ...         Acceptable      Acceptable
4  98800005                   1  ...               Good            Good

[5 rows x 17 columns]

In [27]:
info = pd.read_csv('Traveldata_train_(2).csv')
info.head()

         ID  Gender  ... Departure_Delay_in_Mins  Arrival_Delay_in_Mins
0  98800001  Female  ...                     0.0                    5.0
1  98800002    Male  ...                     9.0                    0.0
2  98800003  Female  ...                    77.0                  119.0
3  98800004  Female  ...                    13.0                   18.0
4  98800005  Female  ...                     0.0                    0.0

[5 rows x 9 columns]

In [32]:
final_traindf =  pd.concat([info,df],axis=1)
final_traindf.head()

         ID  Gender  ...        Cleanliness  Online_Boarding
0  98800001  Female  ...  Needs Improvement             Poor
1  98800002    Male  ...               Good             Good
2  98800003  Female  ...          Excellent        Excellent
3  98800004  Female  ...         Acceptable       Acceptable
4  98800005  Female  ...               Good             Good

[5 rows x 26 columns]

In [33]:
final_traindf.isna().any()

ID                         False
Gender                      True
Customer_Type               True
Age                         True
Type_Travel                 True
Travel_Class               False
Travel_Distance            False
Departure_Delay_in_Mins     True
Arrival_Delay_in_Mins       True
ID                         False
Overall_Experience         False
Seat_Comfort                True
Seat_Class                 False
Arrival_Time_Convenient     True
Catering                    True
Platform_Location           True
Onboard_Wifi_Service        True
Onboard_Entertainment       True
Online_Support              True
Ease_of_Online_Booking      True
Onboard_Service             True
Legroom                     True
Baggage_Handling            True
CheckIn_Service             True
Cleanliness                 True
Online_Boarding             True
dtype: bool

In [45]:
(final_traindf.isna().sum().sort_values(ascending=False)/len(final_traindf))*100

Type_Travel                9.775480
Customer_Type              9.484101
Arrival_Time_Convenient    9.461851
Catering                   9.261594
Onboard_Service            8.053698
Arrival_Delay_in_Mins      0.378262
Baggage_Handling           0.150457
Online_Support             0.096420
Legroom                    0.095360
Gender                     0.081586
CheckIn_Service            0.081586
Ease_of_Online_Booking     0.077348
Seat_Comfort               0.064633
Departure_Delay_in_Mins    0.060395
Age                        0.034965
Platform_Location          0.031787
Onboard_Wifi_Service       0.031787
Onboard_Entertainment      0.019072
Cleanliness                0.006357
Online_Boarding            0.006357
Travel_Class               0.000000
ID                         0.000000
ID                         0.000000
Travel_Distance            0.000000
Overall_Experience         0.000000
Seat_Class                 0.000000
dtype: float64

In [48]:
from sklearn.impute import KNNImputer

imputer = KNNImputer(n_neighbors=3)

In [51]:
cat_cols = final_traindf.select_dtypes('object')
cat_cols.head()

/tmp/ipykernel_209941/3153213137.py:1: Pandas4Warning: For backward compatibility, 'str' dtypes are included by select_dtypes when 'object' dtype is specified. This behavior is deprecated and will be removed in a future version. Explicitly pass 'str' to `include` to select them, or to `exclude` to remove them and silence this warning.
See https://pandas.pydata.org/docs/user_guide/migration-3-strings.html#string-migration-select-dtypes for details on how to write code that works with pandas 2 and 3.
  cat_cols = final_traindf.select_dtypes('object')

   Gender   Customer_Type  ...        Cleanliness Online_Boarding
0  Female  Loyal Customer  ...  Needs Improvement            Poor
1    Male  Loyal Customer  ...               Good            Good
2  Female  Loyal Customer  ...          Excellent       Excellent
3  Female  Loyal Customer  ...         Acceptable      Acceptable
4  Female  Loyal Customer  ...               Good            Good

[5 rows x 19 columns]

In [53]:
from sklearn.preprocessing import OneHotEncoder

enc = OneHotEncoder(sparse_output=False)
enc_cols = enc.fit_transform(cat_cols)
enc_cols = pd.DataFrame(data=enc_cols,columns=enc.get_feature_names_out(cat_cols.columns.tolist()))
enc_cols.head()

   Gender_Female  Gender_Male  ...  Online_Boarding_Poor  Online_Boarding_nan
0            1.0          0.0  ...                   1.0                  0.0
1            0.0          1.0  ...                   0.0                  0.0
2            1.0          0.0  ...                   0.0                  0.0
3            1.0          0.0  ...                   0.0                  0.0
4            1.0          0.0  ...                   0.0                  0.0

[5 rows x 110 columns]

In [ ]:
# df_imputed = imputer.fit_transform(final_traindf)
# final_traindf.head()

ValueError: could not convert string to float: 'Female'